@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    padding: 0;
}

hr {
    border: 0;
    background-color: $silver;
    height: 1px;
}

pre {
    background-color: $midnightBlue;
    color: $white;
    padding: 1rem;
    border-radius: 4px;
}

b {
    font-weight: bold;
}

ul {
    padding-left: 18px;
    margin-bottom: 1rem;
    ul {
        padding-left: 1rem;
        margin-bottom: 0;
    }
}

li {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

blockquote {
    padding: 1rem;
    border-left: 1px solid $silver;
    color: darken($silver, 50%);
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    &:link {
        color: $peterRiver;
    }
    &:visited {
        color: $peterRiver;
    }
    &:hover {
        color: lighten($peterRiver, 5%);
    }
    &:active {
        color: darken($peterRiver, 5%);
    }
}